<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CharityRecommender.com</title>

    <div class = 'navBar'>

        <a href="/charitySimilarity" class="button">Similar Charities</a>

        <a href="/localrec" class="button">Local Charities</a>

        <a href="/" class="button">Homepage</a>

        <a href="/charitySearch" class="button">Search</a>

        <a href="/about" class="button">Meet the Creator</a>

    </div>

    <div class = 'homepage_title'>
      <h1>Welcome to Charity Recommender!</h1>
      <h3>How Can We Help You Find a Charity Today?</h3>
    </div>

    <link rel='stylesheet' href='static/localrec.css'>
  </head>
  <body>

    <div class = 'navBarHome'>

      <div class = 'homebutton'>
        <p9><a href="/charitySimilarity" class="buttonHome">Similar Charities</a></p9>
        <a href="/charitySimilarity" class="imageHome">
          <img style='width:100%; height:75%; vertical-align: bottom;' src="https://github.com/jackvessa/Charity_Recommender/blob/master/IMG/similar.jpg?raw=true" alt="similar">
        </a>
      </div>

      <div class = 'homebutton'>
        <p9><a href="/localrec" class="buttonHome">Local Charities</a></p9>
        <a href="/localrec" class="imageHome">
          <img style='width:100%; height:75%; vertical-align: bottom;' src="https://github.com/jackvessa/Charity_Recommender/blob/master/IMG/local.jpg?raw=true" alt="local">
        </a>
      </div>

      <div class = 'homebutton'>
        <p9><a href="/charitySearch" class="buttonHome">Keyword Search</a></p9>
        <a href="/charitySearch" class="imageHome">
          <img style='width:100%; height:75%; vertical-align: bottom;' src="https://github.com/jackvessa/Charity_Recommender/blob/master/IMG/search.jpg?raw=true" alt="search">
        </a>
      </div>

    </div>


    <!-- <div id="rcorners3">
      <p><a href="/localrec" class="button">Based on Previous Donations</a>
      </p>
    </div> -->

  </body>
</html>
