<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Charity Navigator Homepage</title>

    <div class = 'navBar'>

        <a href="/localrec" class="button">Local Charities</a>

        <a href="/" class="button4">Homepage</a>

        <a href="/charitySimilarity" class="button">Similar Charities</a>

        <a href="/charitySearch" class="button4">Search</a>


    </div>

    <h1>Welcome to Charity Recommender!</h1>
    <h3>How Would You Like to Find a Charity Today?</h3>
    <link rel='stylesheet' href='static/localrec.css'>
  </head>
  <body>

    <div class = 'navBarHome'>

      <p4><a href="/localrec" class="buttonHome">Local Charities</a></p4>
      <p4><a href="/charitySimilarity" class="buttonHome">Similar Charities</a></p4>


    </div>


    <!-- <div id="rcorners3">
      <p><a href="/localrec" class="button">Based on Previous Donations</a>
      </p>
    </div> -->

  </body>
</html>
