<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Charity Navigator Homepage</title>
    <h1>Welcome to Charity Recommender!</br>
      How Would You Like to Find a Charity Today?</h1>
    <link rel='stylesheet' href='static/localrec.css'>
  </head>
  <body>
    <div id="rcorners3">
      <p><a href="/localrec">Local Charity Recommendation</a>
      </p>
    </div>

    <div id="rcorners3">
      <p><a href="/charitySimilarity">Similar Charity Recommender</a>
      </p>
    </div>

    <div id="rcorners3">
      <p><a href="/localrec">Based on Previous Donations</a>
      </p>
    </div>

  </body>
</html>
